In [94]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1") 
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Q1 What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [96]:
#Calculate the total number of missing values ('NaN' or 'None') in the 'Y2014' column and the total number of entries in 
# the 'Y2014' column.

total_missing_2014 = df['Y2014'].isnull().sum()
total_entries_2014 = df['Y2014'].shape[0]

# Calculate percentage of missing data
percentage_missing_2014 = (total_missing_2014 / total_entries_2014) * 100

# Print the total number and percentage of missing data in 2014
print("Total number of missing data in 2014:", total_missing_2014)
print("Percentage of missing data in 2014:", "{:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

### Q2 Given the following python code, what would the output of the code give?

In [97]:

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Q3 What is the total sum of Wine produced in 2015 and 2018 respectively?

In [98]:
# Filter the DataFrame df to include only rows where the 'Item' column is equal to 'Wine', assign the result to the 
# variable wine_production.

wine_production = df[df['Item'] == 'Wine']

# Total sum of Wine produced in 2015
total_wine_2015 = wine_production['Y2015'].sum()

# Total sum of Wine produced in 2018
total_wine_2018 = wine_production['Y2018'].sum()

print("Total sum of Wine produced in 2015:", total_wine_2015)
print("Total sum of Wine produced in 2018:", total_wine_2018)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

### Q4 How would you check for the number of rows and columns in a pandas DataFrame named df?

In [99]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1") 
df.shape

(60943, 12)

### Q5 Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [100]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]


print(x)

8

### Q6 Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [101]:
# Calculate the total processing value for the year 2017 by filtering the DataFrame df to include only rows where the 
# 'Element' column is equal to 'Processing', and then sum the values in the 'Y2017' column.

processing_2017 = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

# Print the total sum of Processing in 2017
print("Total sum of Processing in 2017:", processing_2017)

Total sum of Processing in 2017: Element
Processing    292836.0
Name: Y2017, dtype: float64

### Q7 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [102]:
# Select columns 'Y2017' and 'Area' from the DataFrame df, group the data by 'Area', sum the values in the 'Y2017' column 
# for each group, sort the groups by the sum of 'Y2017' in ascending order, retrieve the seventh row (index starting from 
# 0) which corresponds to the seventh lowest sum, and assign the area name to the 
# variable area_with_seventh_lowest_sum_2017.

selected_columns = df[['Y2017', 'Area']]

grouped = selected_columns.groupby('Area').sum().reset_index()

sorted_grouped = grouped.sort_values(by='Y2017')

seventh_lowest = sorted_grouped.iloc[6]  # Index starts from 0

area_with_seventh_lowest_sum_2017 = seventh_lowest['Area']

print("Area with the 7th lowest sum in 2017:", area_with_seventh_lowest_sum_2017)

Area with the 7th lowest sum in 2017: Guinea-Bissau

### Q8 A pandas Dataframe with dimensions (100,3) has how many features and observations?

100 observations and 3 features

### Q9 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [103]:
# Select columns 'Y2017' and 'Area' from the DataFrame df, group the data by 'Area' and calculate the sum of 'Y2017' for 
# each group. 

selected_columns = df[['Y2017', 'Area']]

grouped = selected_columns.groupby('Area').sum()

area_with_highest_sum_2017 = grouped.idxmax()[0]

print("Area with the highest sum in 2017:", area_with_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

### Q10

In [104]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

df = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Q11 Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [105]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [106]:
# filter the DataFrame df to include only rows where the 'Element' column is equal to 'Stock Variation', 
# select columns 'Y2014' through 'Y2018' and group the data by the 'Element' column, and calculate the sum of each selected year column.

stock_variation = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()


# Find the year with the highest sum of Stock Variation
max_sum_year = stock_variation.idxmax(axis=1)[0]

# Print the year with the highest sum of Stock Variation
print("Year with the highest sum of Stock Variation:", max_sum_year)

Year with the highest sum of Stock Variation: Y2014

### Q12 Given the following numpy array 

array  = ([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [107]:
array  = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

array[:2,1:]

array([[89, 63],
       [92, 48]])

### Q13 What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [108]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Q14 What is the total Protein supply quantity in Madagascar in 2015?

In [109]:
# Filter the DataFrame df for rows where 'Area' is 'Madagascar' and 'Element' is 'Protein supply quantity (g/capita/day)', 
# then sum the values in the 'Y2015' column.

total_protein_supply_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

# Print the total protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

### Q15 Which of these python data structures is unorderly?

Set is an unorderly python data structure

### Q16 Which of the following dataframe methods can be used to access elements across rows and columns?

df.iloc[ : ]

### Q17 What is the total number of unique countries in the dataset?

In [110]:
total_unique_countries = df['Area'].nunique()

# Print the total number of unique countries in the dataset
print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

### Q18 What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [111]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [112]:
df.describe().loc['mean', 'Y2017'].round(2)  # mean for the year 2017 to 2 decimal places

140.92

In [113]:
df.describe().loc['std']['Y2017'].round(2)    #standard deviation for the year 2017 to 2 decimal places

1671.86

### Q19 Which of the following is a python inbuilt module?

Math

### Q20 Which year had the least correlation with ‘Element Code’?

In [114]:
correlation_with_element_code = {}

# Iterate over each year column
for year_column in df.columns[df.columns.str.startswith('Y')]:
    correlation = df['Element Code'].corr(df[year_column])
    correlation_with_element_code[year_column] = correlation

# Find the year with the minimum correlation coefficient
min_corr_year = min(correlation_with_element_code, key=correlation_with_element_code.get)
min_corr_value = correlation_with_element_code[min_corr_year]

print("Year with the least correlation with 'Element Code':", min_corr_year)
print("Correlation coefficient:", min_corr_value)

Year with the least correlation with 'Element Code': Y2016
Correlation coefficient: 0.023443997584961428